.login {
  padding: 0 40px;

  &__logo {
    p {
      font-size: 24px;
      text-align: center;
      margin: 30px 0 45px 0;
    }
  }

  &__content {
    form {
      width: 100%;
      margin: 0 auto;
      max-width: 460px;
    }
  }
}

.error {
  color: red;
  text-align: center;
}
