body {
  margin: 0;
  padding: 0;
}
.input-wrapper {
  width: 100%;
  margin: 0 auto 24px auto;

  label {
    display: block;
  }

  input {
    width: 100%;
    padding: 8px 5px;
    box-sizing: border-box;
  }
}

.input-button {
  width: 100%;
  padding: 8px 0;
  font-size: 18px;
  background: #FFAA2B;
  color: black;
  border: none;
  cursor: pointer;
  &:hover {
    background: #ee9732;
  }
}
